.wrapper{
    border: 2px solid yellowgreen;
    display: flex;
    justify-content: space-between;
    height: 600px;
    align-items: stretch;
}

.box{
    min-width: 200px;
    height: 200px;
    background-color: crimson;
    border: 5px solid green;
    padding: 10px 20px 10px 10px;
    display: inline-block;
}

.container{
    margin: 0 auto;
    max-width: 1550px;
}