*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: seagreen;
}

main{
    width: 100%;
    min-height: calc(100vh - 70px - 50px);
    background-color: slategray;
}

footer{
    height: 50px;
    background-color: darkseagreen;
}

footer .text-center{
    text-align: center;
    color: red;
}

main .text-center{
    text-align: center;
    font-family: sans-serif;
    color: aquamarine;
    /* text-decoration-line: underline; */
    /* text-decoration-line: overline; */
    /* text-decoration-line: line-through; */
    /* text-decoration-line: line-through, overline, underline; */
    /* text-decoration-color: red;
    text-decoration-style: solid; */
    text-decoration: solid red line-through;
    /* text-transform: lowercase; */
    text-transform: uppercase;
    /* text-transform: capitalize; */
    font-size: 30px;
    font-weight: bold;
    word-spacing: 20px;
    letter-spacing: 20px;
    line-height: 50px;
    text-indent: 200px;
}

.box{
    width: 200px;
    height: 200px;
    background-color: crimson;
    margin: 30px 20px 30px 10px; /*margin soat yo'nalishi bo'ylab o'lchamlarni qabul qiladi*/
    border: 5px solid green;
    outline: 5px solid yellow;
    padding: 10px 20px 10px 10px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    /* float: left; */

}

.box:nth-child(1){
    order: 1;
    background-color: lime !important;
    flex-grow: 1;
}

.box:nth-child(3){
    order: 2;
    background-color: coral !important;
    flex-grow: 2;
}

.box:nth-child(5){
    order: -1;
    background-color: blue !important;
    flex: 2 3 500px;
}

.container{
    margin: 0 auto;
    max-width: 1550px;
}
/* display: block, inline, inline-block, flex, grid*/
.wrapper{
    border: 2px solid yellowgreen;
    display: flex;
    justify-content: space-around;
    height: 600px;
    align-items: center;
    /* flex-wrap: wrap;
    overflow: scroll; */
    flex-direction: row;
    flex-wrap: wrap;

}

.nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.nav .nav__list{
    display: flex;
    justify-content: space-between;
    width: 35%;
}
/* .wrapper{
    border: 2px solid yellowgreen;
    display: flex;
    justify-content: space-between;
    height: 600px;
    align-items: stretch;
}

.box{
    min-width: 200px;
    height: 200px;
    background-color: crimson;
    border: 5px solid green;
    padding: 10px 20px 10px 10px;
    display: inline-block;
}

.container{
    margin: 0 auto;
    max-width: 1550px;
} */